html,
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.card {
  width: 100%;
  height: 100vh;
  background: #38273a;
  background: linear-gradient(-150deg, rgb(171, 83, 170), #38273a);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 410px;
  position: relative;
}
.name {
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}
.designation {
  font-size: 1.35em;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.bg-transparent {
  width: 35%;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.12);
  position: absolute;
}
.left {
  bottom: -140px;
  left: 15px;
}
/* Centering an absolute position element */
.center {
  top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.right {
  top: -150px;
  right: 16px;
}

@media only screen and (max-width: 900px) {
  .text {
    width: 350px;
  }
  .name {
    font-size: 3em;
  }
  .designation {
    font-size: 1em;
  }
}
